#center {
	position: relative;
	left: 38%;
	top:-1%;
	width: 24%;
	height: 3%;
}
#lable_1
{
	position: relative;
	width: 32%;
	height:100%;
	left: 0%;
	top:0%;
	border: 2px solid #797979;
	background-color:#DDD8CC;
	opacity:0.7;
	border-radius: 10px;
}
#lable_2
{
	position: relative;
	width: 32%;
	height:100%;
	left:34%;
	top:-118%;
	border: 2px solid #797979;
	background-color:#F2DEC6;
	opacity:0.7;
	border-radius: 10px;
}
#lable_3
{
	position: relative;
	width: 32%;
	height:100%;
	left:68%;
	top:-236%;
	border: 2px solid #797979;
	background-color:#DDD8CC;
	opacity:0.7;
	border-radius: 10px;
}
#lable_map
{
	width: 75px;
	height:20px;
	position: relative;
	top:0%;
	left: 0%;
	border: 2px solid #797979;
	background-color:#C3C9CE;
	opacity:0.75;
	border-radius: 10px;
}

#lable_carsense
{
	width: 75px;
	height:20px;
	position: relative;
	top:-3%;
	left:43%;
	border: 2px solid #797979;
	background-color:#C3C9CE;
	opacity:0.75;
	border-radius: 10px;
}
#lable_carstate
{
	width: 75px;
	height:20px;
	position: relative;
	top:-6%;
	left: 85%;
	border: 2px solid #797979;
	background-color:#C3C9CE;
	opacity:0.75;
	border-radius: 10px;
}
#lable_cardestination
{
	width: 75px;
	height:20px;
	position: relative;
	top:20%;
	left: 85%;
	border: 2px solid #797979;
	background-color:#C3C9CE;
	opacity:0.75;
	border-radius: 10px;
}

#left {
	float: left;
	width: 40%;
	height: 100%
}
#right {
	float: right;
	position: relative;
	border: 6px solid #46393B;
	background-color:#7A6E70;
	opacity:0.75;
	border-radius: 30px;
	left: -16%;
	top:-8%;
	width: 40%;
	height: 95%;
}
#right_1 {
	position: relative;
	border: 6px solid #EB844B;
	background-color:#E7A885;
	opacity:0.75;
	border-radius: 30px;
	left: 85%;
	top:-8%;
	width: 19%;
	height: 20%;
}

#right_2 {
	position: relative;
	left: 85%;
	top:2%;
	border: 6px solid #A0A9B0;
	background-color:#D0D1D5;
	opacity:0.75;
	border-radius: 30px;
	width: 19%;
	height: 40%;}

#nav{
	position:relative;
	left: 8%;
	top:-10%;
	width: 10%;
}

#lidarview{
	position: relative;
	left:3%;
	width: 90%;
    height: 38%; 
    background-repeat: no-repeat;
	border: 6px solid #F3E6E6;
	border-radius: 10px;
}
#carview {
	position: relative;
	left:3%;
	width: 90%;
	height: 38%;
	background-repeat: no-repeat;
	border: 6px solid #F3E6E6;
	border-radius: 10px;}
#car {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    top: auto;
    background-color: transparent;
    background-image: url("../images/car.png");
    background-size: cover;
    z-index: 10;
}
#map {
    position: relative;
	left:0%;
	top:-8%;
    width: 100%;
    height: 70%;
    max-width: 100%;
    background-image: url("../images/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;}

body {
	background: url("../images/page3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 1294px;
	height: 723px;

}
#tab{
	position: absolute;
	top:0%;
}

.input_destination {
	position: relative;
	top:-190%;
	left:5%;
	border: 0;
	width: 50%;
	height: 15%;
	border-radius: 15px;
	font-size: 18px;
	color: #999;
}

.button-container_0 {
      position: relative;
      top: -190%;
	left: 10%;
	width: 30%;
	height: 15%;
	background-color:#E0E4E7;
	border: 2px solid #A0A9B0;
	opacity:0.75;
	border-radius: 30px;
}

.button-container_1 {
     position: relative;
     top: -180%;
	left: 10%;
	width: 35%;
	height: 15%;
	background-color:#FFFFFF;
	border: 2px solid #797979;
	opacity:0.75;
	border-radius: 30px;

}
.button-container_2 {
      position: relative;
      top: -180%;
	left: 15%;
	width: 35%;
	height: 15%;
	background-color:#FFFFFF;
	border: 2px solid #797979;
	opacity:0.75;
	border-radius: 30px;

}
.button-container_3 {
      position: relative;
      top: -170%;
	left: 10%;
	width: 35%;
	height: 15%;
	background-color:#FFFFFF;
	border: 2px solid #797979;
	opacity:0.75;
	border-radius: 30px;

}
.button-container_4 {
      position: relative;
      top: -170%;
	left: 15%;
	width: 35%;
	height: 15%;
	background-color:#FFFFFF;
	border: 2px solid #797979;
	opacity:0.75;
	border-radius: 30px;
}
.button-container_5 {
      position: relative;
      top: -160%;
	left: 32.5%;
	width: 35%;
	height: 15%;
	background-color:#FFFFFF;
	border: 2px solid #797979;
	opacity:0.75;
	border-radius: 30px;
}